@import "tailwindcss";

/* Import Font Plus Jakarta Sans */
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800&display=swap');

@theme {
  --font-sans: 'Plus Jakarta Sans', system-ui, sans-serif; /* Override font bawaan */

  --animate-fade-in-up: fadeInUp 0.8s ease-out forwards;
  --animate-fade-in: fadeIn 0.3s ease-out forwards;
  --animate-bounce-slow: bounceSlow 3s infinite;

  @keyframes fadeInUp {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
  }
  
  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }

  @keyframes bounceSlow {
    0%, 100% { transform: translateY(-5%); }
    50% { transform: translateY(5%); }
  }
}

/* Pastikan smooth scroll untuk seluruh halaman */
html {
  scroll-behavior: smooth;
}